annotated-types
anyio
audioread
Brotli
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
decorator
distro
fonttools
gevent
greenlet
h11
httpcore
httpx
idna
jiter
joblib
kiwisolver
lazy_loader
librosa
llvmlite
matplotlib
msgpack
mutagen
noisereduce
numba
numpy
openai
packaging
pillow
pip
platformdirs
playsound
pooch
pvporcupine
PyAudio
pycparser
pycryptodomex
pydantic
pydantic_core
pygame
pyparsing
python-dateutil
requests
RPi.GPIO
rpi-ws281x
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Wave
websocket
websockets
wheel
yt-dlp
zope.event
zope.interface
